body{
    background-color: lightslategray;
}
  
.imagen{
    padding: 30px;
    border-radius: 20%;
}



.bajo{
    margin-top: 100px;
    margin-bottom: 50px;
    color: black;}
    
.fab{color: black;}  
        
#segundo{background-color:white;}

            
.tercero{
    margin-top: 100px;
    margin-bottom: 150px;
}
            
#copyright{
    color: black;
    text-align: center;
    background-color: lightslategrey;}

.icono{
    margin-right: 30px;
}

.titulo{
    color:whitesmoke;
}

.desarrollador{
    width: 30%;
    border-radius: 50%;
}